@import "common";
@import "dashboard";
@import "login";

.create-event-container {
  .create-event-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .form-container {
      display: flex;
      justify-content: space-between;
      width: 80%;
      max-width: 1200px;

      p, label {
        font-size: 20px;
        color: #6a0dad;

        strong {
          color: #ff6700;
        }
      }

      .event-details-form, .invitees-form {
        width: 48%;
        margin-right: 2%;
      }

      .event-details-form h2, .invitees-form h2 {
        font-size: 28px;
        color: #6A0DAD;
        margin-bottom: 15px;
      }

      .event-details-form label, .invitees-form label {
        display: block;
        margin-bottom: 10px;
      }

      sl-input, sl-textarea {
        width: 100%;
      }
    }

    .form-buttons {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      sl-button.create-event-btn::part(base) {
        margin-top: 20px;
        background: #6a0dad;
        color: white;
        border: 2px solid #ff6700;
        border-radius: 15px;
      }

      sl-button.cancel-btn::part(base) {
        margin-top: 20px;
        background: grey;
        color: white;
        border: 2px solid #ff6700;
        border-radius: 15px;
      }

      sl-button.create-event-btn::part(base):hover, sl-button.cancel-btn::part(base):hover {
        background: #ff6700;
        border: 2px solid #6a0dad;
      }

      sl-button.cancel-btn::part(base):hover {
        background: #ff6700;
        border: 2px solid #ff6700;
      }

    .create-event-btn, .cancel-btn {
        margin: 0 10px;
      }
    }
  }
}