@import 'common';
@import 'login'; // Reuse styles from login page

.signup-container {
  @extend .login-container; // Inherit from login-container
}

.signup-left {
  @extend .login-left;
}

.signup-right {
  @extend .login-right;

  .signup-form {
    @extend .login-form;

    .checkbox-container {
      text-align: center;
      margin: 20px 0;
    }
    sl-checkbox::part(base) {
      display: inline-block;
      font-size: 15px;
      color: #6A0DAD;
    }

    sl-button.signup-button::part(base):hover {
      background-color: #6A0DAD;
      border-color: #6A0DAD;
    }
  }
}