.signup-container {
  display: flex;
  height: 100vh;
}

.signup-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }
}
